.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.App-link {
  display: grid;
  color: #61dafb;
}

section {
  width: 80%;
  margin: 0% auto;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}